<form (ngSubmit)="datasubmit(myData)">  
  <h1 style="color:indianred">Login Form</h1>
  <mat-form-field>
    <input ngModel #username = "ngModel" name="username" matInput placeholder="Username" id="username" type="text" [(ngModel)]="myData.username" required>    
    <mat-error>Field Required !</mat-error>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input ngModel #password = "ngModel" name="password" matInput placeholder="Password" id="password" type="password" [(ngModel)]="myData.password" required>
    <mat-error>Field Required !</mat-error>
  </mat-form-field>
  <br><br>
  <!-- <a routerLink = "/homepage"><button type="submit" mat-raised-button color="accent">Submit</button></a> -->
  <button type="submit" mat-raised-button color="accent">Submit</button>
</form>
<!-- <p>user name : {{data11.username}}</p>
<p>password : {{data11.password}}</p> -->
<!-- <p>{{data11 | json}}</p> -->
<table>
  <th>username</th>
  <th>password</th>
  <tr *ngFor = "let x of data11">
    <td>{{x.username}}</td>
    <td>{{x.password}}</td>
  </tr>
</table>
<!-- <h1>{{this.data11 | json}}</h1> -->
